*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("/img/mikukurs.webp") , auto;}

body{background-color: rgb(26, 26, 26);
    overflow-y: hidden;}

.zagol {height: 154px; width: auto;
    border: rgb(52, 52, 52) 2px solid; 
    border-radius: 35px; margin-top: 16px; margin-left: 13px;
    transition: all 0.3s;
    top:0%; -webkit-user-drag: none;
    }
.zagol:hover{border-color: rgb(59, 59, 59); 
    box-shadow: 2px 2px 5px rgb(56, 56, 56), 
    -2px -2px 4px rgb(56, 56, 56); 
    margin-top: 12px; margin-left: 8px;
    height: 160px;}
.zagol.collapsed{
    opacity: 0;
    z-index: -100;
    transform: translateX(-100px);
}

#zag-collaps{
    transition: all 0.3s ease; opacity: 0; z-index: -100;
    position: absolute; left: -100px;
    margin-top: 16px; margin-left: 6px;
    height: 155px;
    border: rgb(52, 52, 52) 2px solid; 
    border-radius: 35px;
}
#zag-collaps:hover{border-color: rgb(59, 59, 59); 
    box-shadow: 2px 2px 5px rgb(56, 56, 56), 
    -2px -2px 4px rgb(56, 56, 56);}
#zag-collaps.collapsed{
    transform: translateX(100px);
    opacity: 1;
    z-index: 10;
}

 /*SIDEBAR ПОЛЕ*/ 
.sidebar{
    width: 278px; height: 800px;
    transition: transform 0.3s ease-in-out;
}

.sidebar:hover #sidebarToggle{
    opacity: 1;
}

.strelka::before{
    content: '<';
    color: #e6e3e38c;
    display: inline-block;
    font-size: 21px;
    transition: all 0.3s ease;
}
.strelka.collapsed::before {
    content: '>';
}

/* SIDEBAR BUTTON */
#sidebarToggle{
    text-align: center;
    transition: all 0.27s ease;
    opacity: 0;
    position: fixed;
    left: 256px; top: 77px;
    background-color: rgb(34, 34, 34);
    width: 19px; height: 40px;
    border: 1px solid rgb(51, 51, 51); border-radius: 30px;
}
#sidebarToggle:hover{
    background-color: rgb(43, 43, 43);
}

#sidebarToggle.collapsed{
    z-index: 100;
    left: 122px;
    scale: 0.95;
}


/* навиг */
.navig {
            color: #e6e3e3a4;
            margin: 10px 0;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .text-link {
            background: none;
            color: inherit;
            text-decoration: none;
            font-size: 23px;
            transition: color 0.3s ease;
            display: inline;
            padding: 8px 0;
            transition: all 0.2s ease;
        }

        .text-link:hover {
            color: #fffdfd;
        }

        .link-group {background: none;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            white-space: nowrap;
        }

        /* Иконка - не часть ссылки */
        .icon-container {
            transition: all 0.2s ease;
            position: relative;
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            margin: 15px;
        }
        .icon-container.collapsed{
            scale: 1.4;
            margin-left: 40px;
        }

        .icon-container img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: opacity 0.3s ease;
        }

        .static-icon {
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
        }

        .gif-icon {
            transition: all 0.2s ease;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .link-group:hover .static-icon {
            opacity: 0;
        }

        .link-group:hover .gif-icon {
            opacity: 1;
        }

        .link-group.played .static-icon {
            opacity: 1;
        }

        .link-group.played .gif-icon {
            opacity: 0;
        }


.navig{margin-left: 10px; }
/* конец */
    
#sozd {position: absolute; 
        top: 96%;}

.link-group{
    transition: all 0.3s ease;
}

.link-group:hover{
    scale: 1.05;
}


.reg{width: 30px; margin-right: 10px; margin-top: 1px;}

.profil{color: #e6e3e3a4; position: absolute; bottom: 0px; left: 10px; background: none;
            margin: 10px 0;background: none;
            padding: 10px;}

.but-prof{color: #e6e3e3a4; font-size: 23px; background: none;
            margin: 13px 13px; transition: 0.3s ease;
            padding: 16px; border: 1px solid rgb(37, 37, 37); 
            border-top-left-radius: 30px; border-bottom-right-radius: 30px; border-bottom-left-radius: 2px; border-top-right-radius: 2px;
            box-shadow: 0 0 0 1px #2e2e2e,    /* Вторая граница */
                inset 0 0 0 1px rgb(39, 39, 39); /* Внутренняя граница */
            font-family: Arial, Helvetica, sans-serif;}
            
.but-prof:hover{color: #fffdfd; background-color: rgba(0, 0, 0, 0.096);
            box-shadow: 0 0 0 2px #4e4e4e,    /* Вторая граница */
                inset 0 0 0 2px rgb(39, 39, 39); /* Внутренняя граница */
                scale: 1.05;}

img{user-select: none; -webkit-user-drag: none;}

.text-link.collapsed{
    transform: translateX(-100px);
    scale: 0;
    opacity: 0;
    z-index: -100;
}

.boxup{
        border: 1px solid rgb(37, 37, 37);
        box-shadow: 
            0 0 0 1px #2e2e2e, 
            inset 0 0 0 1px rgb(39, 39, 39);
        padding: 10px;
        margin: 20px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        background-color: rgb(31, 30, 30);
        border-radius: 22px;
        position: absolute; left: 260px; top: -3px; right: 20px;
        transition: all 0.3s ease;
}
.boxup.collapsed {
    left: 130px;
}
.boxup p{font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    justify-self: center;
    color: rgb(26, 202, 202); 
    text-shadow: 2px 2px 4px rgb(11, 151, 121); 
    transition: all 0.35s ease;}
.boxup p:hover{
    text-shadow: 2px 2px 4px rgba(20, 204, 164, 0.856);
    scale: 1.05;
}

.scroll-box {
            border: 1px solid rgb(37, 37, 37);
            box-shadow: 
                0 0 0 1px #2e2e2e, 
                inset 0 0 0 1px rgb(39, 39, 39);
            padding: 15px;
            margin: 20px;
            scrollbar-width: none;
            -ms-overflow-style: none;
            overflow-y: auto;
            background-color: rgb(31, 30, 30);
            border-radius: 22px;
            position: absolute; top: 85px; left: 260px; right: 20px; bottom: 140px;
            transition: all 0.3s ease;
        }

.scroll-box.collapsed {
    left: 130px;
}

/*основные параметр модуля  */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

#modal-content {
  background: rgb(26, 26, 26);
  padding: 15px;
  max-width: 505px;
  max-height: 600px;
  width: 90%;
  animation: slideIn 0.3s ease;
  border: 2px solid rgba(37, 37, 37, 0.459);
  border-top-left-radius: 20px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px;
  box-shadow: 0 0 0 2px #202020,
                inset 0 0 0 2px rgb(39, 39, 39); /* Внутренняя граница */
            font-family: Arial, Helvetica, sans-serif;
        transition: all ease 0.35s;
}

#modal-content:hover{
    max-width: 530px; 
    border-top-left-radius: 50px; border-bottom-right-radius: 50px; border-bottom-left-radius: 3px; border-top-right-radius: 3px;
    border: 4px solid;
    border-bottom-color:  rgba(42, 245, 218, 0.747); border-right-color: rgba(40, 226, 201, 0.747);
    border-top-color: rgba(182, 27, 27, 0.774); border-left-color: rgba(182, 27, 27, 0.774);
    box-shadow: 5px 5px 6px 3px rgba(11, 192, 153, 0.555), -3px -3px 6px 3px rgba(196, 27, 27, 0.863);

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* модуль регистр */

h2.registr{font-size: 29px; text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin: 10px 10px 28px 10px; color: #afafafa2; letter-spacing: 1px;}
.dann{text-align: left; font-size: 24px; padding: 5px; margin-left: 16px;  
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #858585b7}


/* кнопка подтверждения */

input[type="submit"]{
    text-align: center; position: relative; left: 29%; font-size: 23px; padding: 9px; margin-bottom: 13px; margin-top: 30px;
    border: 2px solid #5f5f5fa2; border-radius: 10px; box-shadow: 0 0 0 2px #202020, inset 0 0 0 3px rgb(39, 39, 39);
    color: #858585d0; transition: all 0.3s ease; letter-spacing: 1px
}
input[type="submit"]:hover{
    scale: 1.095;
    background-color: #202020;
    box-shadow: 0 0 0 4px #202020, inset 0 0 0 3px rgb(39, 39, 39);
}

/* поля для ввода */
::placeholder {
    color: #61616170;
    user-select: none;
}
br{user-select: none;}

input{
    background-color: rgb(26, 26, 26);
}

input[type="text"],
input[type="password"],
input[type="repassword"]{border: 2px solid #494949a2; border-radius: 4px; box-shadow: 0 0 0 2px #202020, inset 0 0 0 2px rgb(39, 39, 39);
    width: 400px; margin-top: 13px; margin-bottom: -10px;  padding-top: 7px; padding-bottom: 7px;
    position: relative; left: 4%; transition: all 0.3s ease; color: #858585;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="repassword"]:hover{ border: 2px solid #1d1d1da2;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="repassword"]:focus{outline: none; border-color: rgba(42, 245, 218, 0.747); box-shadow: 0px 0px 6px 3px rgba(11, 192, 153, 0.555);}

input[type="text"]{text-align: center; font-size: 15px;
}
input[type="password"]{text-align: center; font-size: 15px;
}
input[type="repassword"]{text-align: center; font-size: 15px;
}

/* error */

#err{user-select: none;
    color: rgba(150, 1, 1, 0.842); font-size: 23px; text-align: center; font-weight: 600;}

/* Взятое из индекса кончилось */

#content1{
    display: flex;
    width: auto; height: 480px;
    margin: 5px; padding: 5px;
}
.mikulal{
    margin: 17px; margin-top: 28px;
    height: 400px;
    border: 1px solid rgba(26, 202, 202, 0.781); border-radius: 50px;
    box-shadow: 5px 5px 12px rgba(58, 204, 185, 0.918), 
    -5px -5px 12px rgba(58, 204, 185, 0.918);
}
.text1{
    padding: 4px; width: 71%;
}

.info{color: rgba(30, 240, 240, 0.747); 
    text-shadow: 2px 2px 4px rgba(12, 255, 202, 0.63); 
    font-size: 21px;}
h1{
    margin-bottom: 10px;
    user-select: none; text-align: center;
    font-size:29px; font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgba(58, 204, 185, 0.918); 
    text-shadow: 2px 2px 4px rgba(17, 135, 139, 0.74);
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}

.text1 p{
    width: 96%;
    text-indent: 28px; text-align: justify; line-height: 1.35;
    margin: 20px;
    color: rgba(255, 255, 255, 0.699); font-size: 20px;
}


#content2{
    display: flex;
    width: auto; height: 550px;
    margin: 5px; padding: 5px;
}
#content2 h1{
    font-size: 24px;
    line-height: 1.3;
}

#song{
    width: 800px;
    border: 2px solid rgb(66, 65, 65);
    box-shadow: 0 0 0 3px #2e2e2e, 
        inset 0 0 0 3px rgb(39, 39, 39); border-radius: 25px;
    margin: 25px;  margin-left: 50px;
}
.videosong{
margin-top: -15px;  margin-left: 60px;
text-align: end; width: 680px; 
font-size: 18px; color: rgba(255, 255, 255, 0.459); 
}
.text2{
    height: 420px; width: auto;
    margin-top: 38px;
}
.d{color: rgba(17, 235, 206, 0.822); font-size: 23px; text-shadow: 2px 2px 3px rgba(13, 253, 213, 0.863);}

ul{
    margin-top: 45px;
    margin-left: 35px;
}
li{
    list-style-image: url(/img/seld.png);
    list-style-type: none; color: rgba(255, 255, 255, 0.699); 
    font-size: 22px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2.2;
}